* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 
    "Courier New",
    Courier,
    "Liberation Mono",
    monospace;
  background: #fff;
  color: #2b2b2b;
  letter-spacing: 0.02em;
}

h1, h2, h3 {
  letter-spacing: 0.04em;
}


img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

