* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  background: #f9f7f7ac;
  color: #2b2b2b;
}

html {
  -webkit-text-size-adjust: 100%;
}


:root {
  color-scheme: light;
}


img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

