* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 
    "Space Mono",
    "Courier New",
    Courier,
    "Liberation Mono",
    monospace;
  background: #fff;
  color: #2b2b2b;
}



img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

