---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div style="max-width:600px;margin:4rem auto;line-height:1.8">
    <p>
      Esse site serve como um diário artístico pessoal, onde posto minhas fotos
      tiradas e desenhos (rabiscos) criados.
      <p>
        Você pode clicar nas artes e visualizar algumas informações sobre ela,
        como data, nome e breve descrição. Além disso, também é possível
        filtrá-las pelo tipo (desenhou ou foto).
      </p>
    </p>
    <p>Sinta-se à vontade pra explorar tudo :).</p>

    <p></p>
  </div></BaseLayout
>
