---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div style="max-width:600px;margin:0 auto;line-height:1.8">
    <h3>
      <i>"As I Was Moving Ahead, Occasionally I Saw Brief Glimpses of Beauty"</i
      >
    </h3>
    <p>Esse site funciona como um diário artístico pessoal.</p>
  </div>
</BaseLayout>
