---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div style="max-width:600px;margin:4rem auto;line-height:1.8">
    <p>
      I work with photography and drawing. This website is a visual diary of my
      work.
    </p>
  </div>
</BaseLayout>
